<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="css/bootstrap.min.css" rel="stylesheet">
    
	<title>sign up page</title>
  </head>
  <body style= "background-color:#afafaf; padding-top: 10%;">
	<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">환영합니다!</div>
            </div>
            <div class="panel-body">
                <form class="login-from">
                    <div style>
                        <input id="user_id" type="text" class="form-control" name="username" placeholder="Username" autofocus>
                    </div>
                    <div style="padding-top: 3%;">
                        <input id="user_pw" type="password" class="form-control" name="password" placeholder="Password">
                    </div>
					<div style="padding-top: 3%;">
						<button id="send_info" class="from-control btn btn-primary btn-block">회원가입</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src=/socket.io/socket.io.js"></script>
	<script>
    // socket.io 서버에 접속한다
		var socket = io();
		
		socket.on('check_signup', function(data) {
			if (data == "success") {
				location = "/";
			}
		});
		$('#send_info').click(e => {
			e.preventDefault();
//			location = "/main";
			var $id = $("#user_id").val();
			var $pw = $("#user_pw").val();

			socket.emit("signup", {
				id: $id,
				pw: $pw
			})
		})
  </script>
  </body>
</html>
